<div>
  <div class="row">
    <div class="col-lg-12">
      <nb-card class="">
        <nb-card-header>
          <a class="weatherwidget-io" href="https://forecast7.com/en/n34d45140d57/loxton/" data-label_1="LOXTON"
            data-label_2="WEATHER" data-theme="pure">LOXTON WEATHER</a>
        </nb-card-header>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Spray Diary (Patch 19 CHA)</nb-card-header>
        <nb-card-body>
          <ngx-spray-bar></ngx-spray-bar>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Yield (Patch 19 CHA)</nb-card-header>
        <nb-card-body>
          <ngx-echarts-bar></ngx-echarts-bar>
        </nb-card-body>
      </nb-card>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Water Price</nb-card-header>
        <nb-card-body>
          <div class='tableauPlaceholder' id='viz1560393840290' style='position: relative'>
            <noscript><a href='http:&#47;&#47;www.bom.gov.au&#47;water&#47;dashboards&#47;'>
                <img alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;27&#47;27NN4KB38&#47;1_rss.png'
                  style='border: none' />
              </a>
            </noscript>
            <object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='path' value='shared&#47;27NN4KB38' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;27&#47;27NN4KB38&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='jsdebug' value='y' />
              <param name='tabs' value='n' />
            </object></div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>